div .sections {
    display:flex;
    position: relative;
    justify-content: space-between; 
    flex-wrap: wrap;
    top: 7.5rem;
    margin: 0 5rem 0 5rem;
    padding-bottom: 10rem;
}
.compl {
    background: #fff;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    width: calc(33.33% - 2rem);
}
#alls{
    padding-left: 5rem;
    height: 15rem;
}
.textum{
    background: #88bd24;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    padding: 0.5rem;
    display: flex; 
    justify-content: center;
}
.textum:hover {
    background: #2d2d2d;
    color: #fff;
}

@media (max-width:970px) {
    div .sections {
        flex-direction: column;
        padding-bottom: 10rem;
    }
    .compl {
        width: 100%;
    }
    #alls {
        height: 24rem;
    }
    #compl{
        padding-left: 10rem;
        height: 16rem;
    }
    .textum{
        background: #88bd24;
        text-decoration: none;
        color: #000;
        font-weight: 600;
        padding: 0.5rem;
        margin: 0 auto; 
    }
    }
