@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
nav {
    background:  #191a1b;
    position: fixed;
    width: 100%;
    z-index: 99;
}
/* Стилизация Поисковика */
.search-box {
    position: relative;
}

.search-box input {
    width: 100%;
    padding: 5px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
    box-sizing: border-box;
}
.search-box button {
    cursor: pointer;
    color: #191a1b;
    border: none;
    outline: none;
    position: absolute;
    right: 0px;
    top: 50%;
    height: 30px;
    width: 30px;
    transform: translateY(-52%);
    background: transparent;
}

.search-box button:hover{
    cursor: pointer;
    color: #fff;
    background:#191a1b;
    transition: all 0.3s ease;
}

.search-box button i {
    font-size: 20px;
}

nav .wrapper {
    position: relative;
    max-width: 1300px;
    padding: 0px 30px; 
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper .logo a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
}
.wrapper .nav-links {
    display: inline-flex;
}
.nav-links li {
    list-style: none;
}
.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    transition: all ease 0.3s;
}
.nav-links li a:hover {
    background: #2d2d2f;
}
.nav-links .mobile-item{
    display: none;
  }
.nav-links li:hover .mega-box{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3 ease;
  }
/* Меню Каталога */
.mega-box {
    position: absolute;
    top: 80px;
    width: 100%;
    left: 0;
    padding: 0 40px;
    opacity: 1; 
    visibility: hidden;
    transition: all 0.3s ease ;
}

.mega-box .content {
    background: #191a1b;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content:calc(30% - 20px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.content .row{
    width:calc(25% - 30px);
    line-height: 45px;
}
.content .row img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    align-items: center;
}
header {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
content .row .mega-links {
    margin-left: 40px;
    border-left: 1px solid rgba(255,255,255,0.09);
}
.mega-box .content .row:nth-child(1),
.mega-box .content .row:nth-child(2){
    border-top: 0px;
}
.row .mega-links li {
    padding: 0 20px;
}
.row .mega-links li a{
    padding: 0 20px;
    color:#fff ;
    font-size: 17px;
    display: block;
}
.nav-links .mobile-item{
    display: none;
}
.wrapper .btn{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.wrapper .btn .cancel-btn{
    position: absolute;
    right: 30px;
    top: 10px;
}


@media screen and (max-width: 970px) {
    .wrapper .btn {

        display:block ;
    }
    .wrapper .nav-links {
        position: fixed;
        height: 100vh; 
        width: 100%;
        max-width: 350px;
        background: #191a1b;
        display: block;
        top: 0;      
        left: -100%;
        overflow-y: auto;
        line-height: 50px;
        padding: 50px 10px;
        transition: all ease 0.3s;
    } 
    .i
      ::-webkit-scrollbar {
        width: 10px;
      }
      ::-webkit-scrollbar-track {
        background: #2d2d2f;
      }
      ::-webkit-scrollbar-thumb {
        background: #2d2d2f;
      }
    #menu-btn:checked ~ .nav-links{
        left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn{
        display: none;
      }
    #cancel-btn:checked ~ .btn.menu-btn{
        display: block;
      }
    .nav-links li {
        margin: 15px 10px;
    }
    .nav-links li a {
       padding: 0 20px ;
       display: block;
       font-size: 20px;
    }
    #showMega:checked ~ .mega-box{
        max-height:  100%; ;
    }
    .nav-links .desktop-item{
        display: none;
    }
    .nav-links .mobile-item{
        display: block;
        color: #f2f2f2;
        font-size: 20px;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .nav-links .mobile-item:hover{
        background: #2d2d2f;
    }
    .nav-links .mobile-item ul{
        padding-right: 25px;
    }
    /* Меню для устройств с узким экраном  */
    .nav-links .mega-box {
        position: static;
        top: 65px;
        opacity: 1;
        visibility: visible;
        padding:0 20px;
        max-height:0px ;
        overflow: hidden;
        transition: all ease 0.3s;
    }
    .mega-box .content {
        box-shadow: none;
        flex-direction: column;
        padding-right: 50px;
    }
    .mega-box .content .row {
        width: 100%;
        margin-bottom: 15px;
    }
    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2){
      border-top: 0px;
    }
    .content .row .mega-links{
        border-left: 0px;
        padding-left: 15px;
     }
    .row .mega-links li{
        margin: 0;
      }
    .content .row header{
        font-size: 19px;
      }
    }
    nav input{
        display: none;
      }