@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
nav {
    background: #191a1b;
    position: fixed;
    width: 100%;
    z-index: 99;
}

nav .main {
    position: relative;
    max-width: 1250px;
    padding: 0 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main .logo a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
}
.main .nav-links {
    display: inline-flex;
}
.nav-links li {
    list-style: none;
}
.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    transition: all ease 0.3s;
}
.nav-links li a:hover {
    background: #2d2d2f;
}
.nav-links li:hover .mega-box{
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
/* Меню Каталога */
.mega-box {
    position: absolute;
    top: -100px;
    width: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3 ease;
}

.mega-box .content {
    background: #191a1b;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.content .row{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.row header {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
}
.row .mega-links {
    margin-left: -40px;
    border-left: 1px solid rgba(255,255,255,0.09);
}
.content .row:nth-child(1),
.content .row:nth-child(2){
    border-left: 0px;
}

.mega-links li {
    padding: 0 20px;
}
.mega-links li a{
    padding: 0 20px;
    color:#fff ;
    font-size: 17px;
    display: block;
}