@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
nav {
    background: #191a1b;
    position: fixed;
    width: 100%;
    z-index: 999;
}

nav .wrapper {
    position: relative;
    max-width: 1250px;
    padding: 0 30px; 
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.wrapper .logo a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
}
ul .nav-links {
    display: inline-block;
}
.wrapper .nav-links {
    display: inline-flex;
}
.nav-links li {
    list-style: none;
}
.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    transition: all ease 0.3s;
}
.nav-links li a:hover {
    background: #2d2d2f;
}
.nav-links li:hover .mega-box{
    top: 65px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3 ease;
  }
/* Меню Каталога */
.mega-box {
    position: absolute;
    top: 80px;
    width: 100%;
    left: 0;
    padding: 0 40px;
    opacity: 1; 
    visibility: hidden;
    transition: all 0.3s ease ;
}

.mega-box .content {
    background: #191a1b;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content:calc(30% - 20px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.content .row{
    width:calc(25% - 30px);
    line-height: 45px;
}
.content .row img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    align-items: center;
}
header {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
content .row .mega-links {
    margin-left: 40px;
    border-left: 1px solid rgba(255,255,255,0.09);
}
.content .row:nth-child(1),
.content .row:nth-child(2){
    border-left: 0px;
}
.row .mega-links li {
    padding: 0 20px;
}
.row .mega-links li a{
    padding: 0 20px;
    color:#fff ;
    font-size: 17px;
    display: block;
}
.wrapper label {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.wrapper .cancel-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

.wrapper input {
    display: none;

}

@media screen and (max-width: 970px) {
    .wrapper label {
        display:block ;
    }
    .wrapper .nav-links {
        position: fixed;
        height: 100vh; 
        width: 100%;
        max-width: 360px;
        background: #191a1b;
        display: block;
        top: 0;
        left: -100%;
        overflow-y: auto;
        line-height: 50px;
        padding: 50px 10px;
        transition: all ease 0.3s;
    } 

    #menu-btn:checked ~ .nav-links{
        left: 0%;
    }

    .nav-links::-webkit-scrollbar{
        width: 0px;
    }


    .nav-links li {
        margin: 15px 10px;
    }
    .wrapper .nav-links li a {
       padding: 0 20px ;
       display: block;
       font-size: 20px;
    }
    /* Меню для устройств с узким экраном  */
    .mega-box {
        position: static;
        top: 65px;
        width: 100%;
        left: 1;
        opacity: 1; 
        visibility: visible;
        padding: 0 20px;
    }
    
    .mega-box .content {
        background: #191a1b;
        flex-direction: column;
        padding:  20px 20px 0 20px;
        
    }
    .mega-box .content .row {
        width: 100%;
        margin-bottom: 15px;
    }
    
    content .row .mega-links {
        border-color: 0px ;
        padding-left: 15px;
    
    }
    .row .mega-links li {
        margin: 0;
    }
    .content .row header {
        font-size: 19px;
    }
}