.container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    max-width: 100%;
    margin: 0 auto; 
}
html::-webkit-scrollbar{
    width: 0;
}
.slider-wrapper {
    width: 100%;
    margin-top: 5rem;
    position: relative;
    max-width: 50rem;
}
.slider::-webkit-scrollbar{
    display: none;
}
.slider-wrapper .slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 8%, 59%, 0.25);
    border-radius: 0.5rem;
}
.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{ 
    width: 1rem;
    height:1rem;
    border-radius: 50%;
    background: #000000;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    background: #88bd24;
    opacity: 1;
}

/* Товары по акции */
.skidki {
    background: #fff;
    width: 50rem;
    height: 4rem;
    padding: 15px;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    color: #000;
}
.card {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 10px;
    text-align: center;
    width: 22rem;
    height: 20rem;
}
.card img {
    width: 10rem;
}

.card h2 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #000000;
}

.card p {
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    padding-bottom:15px ;
}
.del{
    color: #000;
    background: #88bd24;
    padding: 10px;
    font-weight: 600;
}
.price {
    font-size: 16px;
    color: #fff;
    background: #2d2d2d;
    padding: 10px;
    font-weight: 600;
}
.price:hover {
    background: #88bd24;
}
@media (min-width: 970px) {
    .container {
    flex-direction: row; /* Размещаем элементы в строку */
    justify-content: space-between; /* Добавляем промежуток между слайдером и карточкой */
    align-items: flex-start; /* Выровняем по верхнему краю */
    }
    .slidder img{
    width: 10rem;
    }
    .card {
    width: 20rem;
    height: 22rem;
    margin-top:1rem ;
    flex: 1; 
    align-self: flex-start;
    }
    .skidki {
        background: #fff;
        width: 20rem;
        height: 5rem;
        padding: 25px;
        text-align: center;
        margin-top: 5rem;
        border-radius: 0.5rem;
        color: #000;
    }
    .card img {
        width: 13rem;
    }
    .card h2 {
        font-size: 1.5em;
        margin: 0;
        color: #000000;
    }
    .del{
        color: #000;
        background: #88bd24;
        padding: 8px;
        font-weight: 600;
    }
    .price {
        color: #fff;
        background: #2d2d2d;
        padding: 8px;
        font-weight: 600;
    }
}